/*=========================================Css Reset============================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=======================================Box Model===========================================================*/
*,*::after,*::before{
    box-sizing: border-box;
}
/*==============================================Setting Variables================================================*/
img{
    display: block;
    width: 100%;
}                                            

/*Fonts*/
@font-face {
    font-family:mainFontRegular;
    src: url(./fonts/SourceSansPro-Regular.otf);
}
@font-face {
    font-family:mainFontBold;
    src: url(./fonts/SourceSansPro-Bold.otf);
}
@font-face {
    font-family:mainFontSemibold;
    src: url(./fonts/SourceSansPro-Semibold.otf);
}
@font-face {
    font-family: mainFontLight;
    src: url(./fonts/SourceSansPro-Light.otf);
}
@font-face {
    font-family:logoFont;
    src: url(./fonts/spincycle_ot.otf);
}
/*===========================================Holberton Icons===================================================*/
@font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'holberton_school-icon' !important;
    
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .holberton_school-icon-arrow_1:before {
    content: "\e900";
  }
  .holberton_school-icon-arrow_2:before {
    content: "\e901";
  }
  .holberton_school-icon-arrow_3:before {
    content: "\e902";
  }
  .holberton_school-icon-arrow_4:before {
    content: "\e903";
  }
  .holberton_school-icon-arrow_5:before {
    content: "\e904";
  }
  .holberton_school-icon-check:before {
    content: "\e905";
  }
  .holberton_school-icon-ic_bag:before {
    content: "\e906";
  }
  .holberton_school-icon-ic_cart:before {
    content: "\e907";
  }
  .holberton_school-icon-ic_facebook:before {
    content: "\e908";
  }
  .holberton_school-icon-ic_hearing:before {
    content: "\e909";
  }
  .holberton_school-icon-ic_instagram:before {
    content: "\e90a";
  }
  .holberton_school-icon-ic_laptop:before {
    content: "\e90b";
  }
  .holberton_school-icon-ic_money:before {
    content: "\e90c";
  }
  .holberton_school-icon-ic_music:before {
    content: "\e90d";
  }
  .holberton_school-icon-ic_sound:before {
    content: "\e90e";
  }
  .holberton_school-icon-ic_twitter:before {
    content: "\e90f";
  }
  .holberton_school-icon-ic_video:before {
    content: "\e910";
  }
  .holberton_school-icon-menu:before {
    content: "\e911";
  }
  .holberton_school-icon-search_1:before {
    content: "\e912";
  }
  .holberton_school-icon-search_2:before {
    content: "\e913";
  }
  .holberton_school-icon-star:before {
    content: "\e914";
  }
  
/*Colors*/
:root{
    --main-color:#FF6565;
}
/*============================================start hero styling=================================================*/
.hero-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(./images/headphones_hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    padding: 8vh 5vw;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.holberton_school-icon-menu{
    display: none;
}
nav img{
    width: 11rem;
    height: 2rem;
}
nav ul{
    display: flex;
    width: 20rem;
    justify-content: space-evenly;
}
.hero-part-1-text h1 span{
    color:#9c9da1;
    opacity: 0.8;
    
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: mainFontBold;
    animation: neonAnim 2s alternate-reverse infinite;
}
a:hover,a:active{
    color: #FF6565;
    opacity: 0.9;
    transition: all ease-in-out 0.3s;
}
.hero-text{
    max-width: 1000px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
    text-align: center; 
}
h1{
    font-family: mainFontBold;
    font-size: 2rem;
    color: whitesmoke;
    margin-top: 6rem;
}
.hero-part-1-text p{
    font-family: mainFontBold;
    font-size: 1rem;
    color: whitesmoke;
    margin-top: 1rem;
}
.btn{
    width: 9rem;
    height: 2.5rem;
    background-color: var(--main-color);
    color: black;
    text-transform: uppercase;
    font-family: 'mainFontBold';
    border: 0;
    border-radius: 2rem;
    margin-top: 2rem;
    transition: ease-in-out 0.3s;
}
.btn:hover,.btn:active{
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 1px 5px 20px #FF6565;
    
}
.hero-part-2{
    font-family: 'mainFontRegular';
    font-size: 0.9rem;
    color: whitesmoke;
    margin-top: 5rem;
    line-height: 1.5;
    opacity: 0.8;
}
/*========================================hero media queries================================================*/
@media screen and (max-width:419px) {
    .hero-container{
        height: unset;
    }
    
}
@media  screen and (max-width:480px) {
    
    
    nav{
        flex-direction: column;
        gap: 1rem;
    }
    nav label{
        width: 25%;
    }
    nav .menu {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-family: 'mainFontLight';
        font-size: 0.8rem; 
        display: none;
    }
    #toggle:checked ~ .menu  {
        display: block;
        text-align: center;
      }
    .icon-menu{
        width: 100%;
    display: flex;
    align-items: center;
    }
    .holberton_school-icon-menu{
        color: whitesmoke;
        display: unset;
    }
    .menu li {
        margin: 15px auto;
        font-size: 12px;
    }
    
}
/*===========================================End hero styling=================================================*/
/*===========================================Start what we do section styling================================*/
.wwd{
    display: flex;
    justify-content: center;
    padding: 8vh 5vw;
}                                                
.wwd-container{
  display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    max-width: 1000px;
}      
.wwd-container h2{
  font-family: mainFontSemiBold;
  font-size: 1.5rem;
  text-transform: capitalize;
} 
.wwd-container .desc{
    max-width: 70%;
    align-self: center;
    font-family: 'mainFontRegular';
    color: #071629;
    line-height: 1.5;
    font-size: 16px;
}

.wwd-items{
  display: flex;
  margin-top: 5rem;
  gap: 1rem;
  justify-content: center;
}  
.wwd-items .wwd-item span{
  font-size: 7rem;
  color: var(--main-color);
  animation: neonAnim 2s alternate-reverse infinite;
} 
.wwd-item{
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    
} 
.wwd-item h3{
    font-family: 'mainFontSemibold';
    margin-top: 1rem;
    font-size: 1rem;
}  
.wwd-item p {
  margin-top: 1rem;
  font-family: 'mainFontRegular';
  line-height: 1.5;
}                                 
/*====================================================what we do section media queries======================================================*/
@media screen and (max-width:768px) {
  .wwd-item{
    padding: 1rem;
    width: 36%;
  }
  .wwd-items{
    flex-wrap: wrap;
  }
  
  
}
@media  screen and (max-width:480px) {
  .wwd-items{
    flex-direction: column;
    align-content: center;
  }
  .wwd-item{
      width: unset;
  }
  
}
/*======================================================Results section styling==================================================================*/
.results{
  background: url(./images/headphones_hero_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 42%;
  padding: 8vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.results-container{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100%;
    max-width: 1000px;
}
.results-container h2{
  font-family: 'mainFontRegular';
  font-size: 2rem;
  margin-top: 5rem;
  color: whitesmoke;
  text-align: center;
  text-transform: capitalize;
}
.results-container #results{
  font-family: 'mainFontRegular';
    color: white;
    max-width: 55%;
    line-height: 2;
    opacity: 0.8;
    text-align: center;
    margin-top: 3rem;
    font-size: 15px;
}
.pentagons{
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-evenly;
}
.pentagon{
    
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
    
}
.pentagon span{
    font-size: 2rem;
    font-family: 'mainFontSemibold';
    color: whitesmoke;
}
.pentagon p{
  font-family: mainFontRegular;
  color: whitesmoke;
  text-align: center;
  font-size: 1rem;
    margin-top: 1rem;
}
@media  screen and (max-width:480px) {
  .pentagons{
    flex-direction: column;
    gap: 3rem;
  }
  .wwd-container .desc{
    max-width: 90%;
  }
  
  
}
@media screen and (max-width:768px) {
    .results-container #results{
        max-width: unset;
    }
    .results{
      height: unset;
    }
    
}
/*===============================================contact section styling======================================================================*/
.contact{
    display: flex;
    justify-content: center;
    padding: 8vh 5vw;
    
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 36%;
    height: 80vh;
    gap: 1rem;
    
    
}
.contact-container h2{
    text-align: center;
    font-family: 'mainFontSemibold';
    font-size: 2.5rem;
    margin-top: 2rem;
    text-transform: capitalize;
}
.contact-container form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width:80%;
    
}
form input{
    border: 0;
    border-bottom: 1px solid grey;
    margin-top: 6px;
    height: 2rem;
    
}
form label{
    font-family: 'mainFontSemibold';
    margin-top: 1rem;
    text-transform: capitalize;
    
}
form textarea{
    resize: none;
    border: 0;
    border-bottom: 1px solid grey;
    margin-top: 6px;
    height: 2rem;
}
form input,textarea{

  font-family: 'mainFontRegular';
  font-size: 1rem;
  color: #071629;
  
}
/*====================================contact section media queries========================================*/
@media screen and (max-width:768px) {
    .contact-container{
        width: 70%;
        height: 100vh;
    }
    .contact-container .btn{
        width: 12rem;
    height: 3.5rem;
    }
    
}
@media screen and (max-width:480px) {
    .contact-container{
        width: 100%;
        height:100vh;
    }
    .contact-container .btn{
        width: 12rem;
    height: 3.5rem;
    }
}
/*==========================================footer styling==============================================*/
footer{
    background-color:#071629;
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    padding: 5vh 5vw;
    height: 35vh;
}
footer img{
    width: 11rem;
    height: 2rem;
}
footer .footer-icons{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    
}
footer p{
    text-align: center;
    font-family: mainFontRegular;
    color: whitesmoke;

}
footer p span{
    color: #FF6565;
    text-transform: uppercase;
    font-family: 'mainFontBold';
}
.footer-icons .icons span{
    font-size: 2rem;
    color: whitesmoke;
}
@media screen and (max-width:480px) {
  footer{
    align-items: center;
  }
    .footer-icons{
     flex-direction: column;   
    align-items: center;
    gap: 1rem;
    }
    
}
/*=================================Making the pentagon shape with css=========================================*/
/*
width: 11.5rem;
height: 10rem;
*/
.pentagons{
    width: 100%;
    margin-top: auto;
    gap: 2rem;
    align-items: center;
}
.pentagon{
    background-color: #FF6565;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    padding: 5%;
    height: 11.5rem;
    width: 12.5rem;
  
    
} 
/*===========================================adding animation===================================================*/
@keyframes neonAnim {
    from {
        text-shadow:
          0 0 40px rgba(255, 101, 101, .7),
          0 0 70px rgba(255, 101, 101, .7),
          0 0 130px rgba(255, 101, 101, .7);
      }
      to {
        text-shadow:
          0 0 35px rgba(255, 101, 101, .7),
          0 0 50px rgba(255, 101, 101, .7),
          0 0 90px rgba(255, 101, 101, .7);
      }
}
.hero-part-1-text h1 span{
    animation: neonAnim 2s alternate-reverse infinite;
    color: #FF6565;
    font-family: 'logoFont';
    
}

.wwd-item:hover{
    background-image: linear-gradient(
        180deg,
        hsl(0deg 62% 80%) 0%,
        hsl(0deg 68% 79%) 8%,
        hsl(0deg 72% 78%) 16%,
        hsl(1deg 76% 76%) 24%,
        hsl(1deg 79% 75%) 33%,
        hsl(1deg 81% 73%) 41%,
        hsl(1deg 83% 72%) 50%,
        hsl(1deg 84% 70%) 57%,
        hsl(1deg 84% 68%) 58%,
        hsl(1deg 85% 66%) 60%,
        hsl(0deg 85% 65%) 62%,
        hsl(0deg 84% 63%) 64%,
        hsl(0deg 83% 61%) 67%,
        hsl(1deg 82% 60%) 69%,
        hsl(1deg 81% 58%) 72%,
        hsl(1deg 80% 56%) 76%,
        hsl(1deg 78% 55%) 79%,
        hsl(1deg 77% 53%) 82%,
        hsl(1deg 76% 51%) 86%,
        hsl(1deg 76% 50%) 89%,
        hsl(1deg 81% 48%) 93%,
        hsl(1deg 88% 46%) 96%,
        hsl(0deg 96% 43%) 100%
      );
    color: whitesmoke;
    border-radius: 10%;
    transform: scale(1.1);
    transition: all ease-in-out 0.8s;
    box-shadow: #9c9da1;

}
.wwd-item:hover span{
    color: whitesmoke;
    transition: all ease-in-out 0.4s;
    
}
.pentagon:hover{
    background-color: #131f2d;
    
    opacity: 0.5;
    transform:scale(1.1)  ;
    transition: all ease-in-out 0.8s  ;
}
.pentagon:hover span{
    color: #FF6565;
    animation: neonAnim 2s alternate-reverse infinite;
}
.pentagon:hover p{
    color: #FF6565;
    animation: neonAnim 2s alternate-reverse infinite;
}
.icons span:hover{
    color: #FF6565;
    animation: neonAnim 2s alternate-reverse infinite;
}
.logo-fot{
    font-family: 'logoFont';
    color: whitesmoke;
    font-size: 1.5rem;
    align-self: flex-end;
}
footer img,nav img{
    
    width: 3rem;
    height: 3rem;

}
.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    align-items: end;
}
.glow{
    color: #FF6565;
    animation: neonAnim 2s alternate-reverse infinite;
}
html{
    scroll-behavior: smooth;
}
footer p span{
    animation: neonAnim 2s alternate-reverse infinite;
}





